@import './../../styles/variables';

.create-event-container {
    display: flex;
    height: 100vh;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $sans;

    p {
        margin-bottom: 30px;
        font-size: 130%;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding-top: 40px;
    }
}

.party-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin-bottom: 100px;
    
    
    // border: 1px solid red;

    line-height: 30px;

    div {
        height: 40px;
    }

    input {
        width: 215px;
        height: 25px;
        padding-left: 15px;
        margin-left: 8px;

        border: {
            top: none;
            left: none;
            right: none;
            bottom: 1px solid black;
        }
        background-color: rgba(255, 255, 255, 0.1);

        &:focus {
            outline: none;
        }
    }

    .descriptionAreaDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
       

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }
}

    .decorationsAreaDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .suppliesAreaDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .foodAreaDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .submit-party-button{
    height: 30px;
    width: 8vw;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    background-image: radial-gradient(circle at 50% -46%, #1d976c, #93f9b9);
    justify-content: center;
    p {
        margin-bottom: 30px;
        font-size: 130%;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding-top: 40px;
    }
}

   