@import 'reset';
@import 'variables';




////COMPONENTS//////
@import '../components/Home/Home.scss';
@import './components/App.scss';
@import '../components/Header/Header.scss';
@import '../components/Features/Features.scss';
@import '../components/Profile/Profile.scss';
@import '../components/Create_Event/Create_Event.scss';
@import '../components/Review_Event/Review_Event.scss';
@import '../components/Send_Invite/Send_Invite.scss';

#home {
    .about-partyUp-container{
        background-image: url('../../src/images/wedding.jpg');
        background-size: cover;
        background-origin: center;
        background-repeat: none;
    }
}
#features {
    .features-partyUp-container{
        background-image: url('../../src/images/balloons_pool.jpeg');
        background-size: cover;
        background-origin: center;
        background-repeat: none;
        
    }
}

#profile {
    .profile-container{
        background-image: url('../../src/images/slide.jpg');
        background-size: cover;
        background-origin: center;
        background-repeat: none;
    }
}


#create_event {
    .create-event-container{
        background-image: url('../../src/images/group_circle.jpeg');
        background-size: cover;
        background-origin: center;
        background-repeat: none;
    }
}

#review-event {
    .review-event-container{
        background-image: url('../../src/images/group_circle.jpeg');
        background-size: cover;
        background-origin: center;
        background-repeat: none;
        
    }

    .edit-event-container{
        background-image: url('../../src/images/group_circle.jpeg');
        background-size: cover;
        background-origin: center;
        background-repeat: none;
        
    }
}

#send-invite {
    .send-invite-container{
        background-image: url('../../src/images/dessert_platters.jpeg');
        background-size: cover;
        background-origin: center;
        background-repeat: none;
        
        
    }
}