.header-container {
    background: #1D976C;  /* fallback for old browsers */
background: -webkit-linear-gradient(bottom, #93F9B9, #1D976C);
background: -moz-linear-gradient(bottom, #93F9B9, #1D976C);
background: -o-linear-gradient(bottom, #93F9B9, #1D976C);
background: linear-gradient(to top, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    width: 100%;
    top: 0px;
    display: flex;
    

}

#header {
	height: 80px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: white;
        }
    }
	
}
#header nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
    width: 100vw;
    // border: 1px solid red;
}

.header-image{
    height: 60px;
}
.nav-bar-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
        margin: 20px;
        list-style: none;
        text-decoration: none;
        a{
            text-decoration: none;
            color: black;
        }
    }
    border: 1px solid red;
    
}


.nav-bar-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    margin-right: 30px;
    
}