@import './../../styles/variables';

.review-event-container{
    display: flex;
    height: 100vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $sans;


    p {
        margin-bottom: 30px;
        font-size: 130%;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding-top: 100px;
    }

    a {
        text-decoration: none;
    }
}

.party-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin-bottom: 100px;
    
    // border: 1px solid red;

    line-height: 30px;

    div {
        height: 40px;
    }

    input {
        width: 215px;
        height: 25px;
        padding-left: 15px;
        margin-left: 8px;

        border: {
            top: none;
            left: none;
            right: none;
            bottom: 1px solid black;
        }
        background-color: rgba(255, 255, 255, 0.1);

        &:focus {
            outline: none;
        }
    }

    .descriptionReviewDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
         margin-bottom: 10px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }
}

.decorationsReviewDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .suppliesReviewDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .foodReviewDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .edit-party-button {
    height: 30px;
    width: 10vw;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    margin-left: 150px;
    justify-content: center;
    background-image: radial-gradient(circle at 50% -46%, #1d976c, #93f9b9);
    transform: translateX(-50%);
    &:hover {
        color: white;

    }

}   

    .confirm-party-button {
    height: 30px;
    width: 10vw;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    margin-left: 150px;
    justify-content: center;
    background-image: radial-gradient(circle at 50% -46%, #1d976c, #93f9b9);
    transform: translateX(-50%);
    &:hover {
        color: white;

    }

}

.edit-event-container{
display: flex;
    height: 100vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $sans;


    p {
        margin-bottom: 30px;
        font-size: 130%;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding-top: 100px;
    }

    a {
        text-decoration: none;

    }
}

.party-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin-bottom: 100px;
    
    // border: 1px solid red;

    line-height: 30px;

    div {
        height: 40px;
    }

    input {
        width: 215px;
        height: 25px;
        padding-left: 15px;
        margin-left: 8px;

        border: {
            top: none;
            left: none;
            right: none;
            bottom: 1px solid black;
        }
        background-color: rgba(255, 255, 255, 0.1);

        &:focus {
            outline: none;
        }
    }

.descriptionEditDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
         margin-bottom: 10px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }
}

.decorationsEditDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .suppliesEditDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .foodEditDiv {
        height: 80px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        textarea {
            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }
        }
    }

    .save-party-button {
    height: 30px;
    width: 10vw;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    margin-left: 150px;
    justify-content: center;
    background-image: radial-gradient(circle at 50% -46%, #1d976c, #93f9b9);
    transform: translateX(-50%);
    &:hover {
        color: white;

    }

}